<div class="topnav">
  <div class="container-nav" >
    <a href="/dashboard/home/1">Transformers News</a>
    <div class="topnav-right">
      <div class="refresh">
        <form method="GET" id="refresh" action="/dashboard/home/1">
          <Button type="submit" class="btn btn-primary" >Refresh</Button>
        </form> 
      </div>
      <a href="/users/update_user?id=<%= id %>">Settings</a>
      <a href="/users/logout">Log out</a>&nbsp;&nbsp;&nbsp;&nbsp;
    </div>
    
  </div>
</div>

<div class="welcome-text">
  <h2 style = "float:right"> Welcome <%= user.name %></h2>
</div>
<div class="welcome-text">
  <h2>My Dashboard</h2>
</div>


<div class="w3-bar w3-border w3-light-grey">
  <a href="/dashboard/home/1" class="w3-bar-item w3-button w3-deep-purple">Home</a>
  <a href="/dashboard/general/1" class="w3-bar-item w3-button">General</a>
  <a href="/dashboard/sports/1" class="w3-bar-item w3-button">Sports</a>
  <a href="/dashboard/entertainment/1" class="w3-bar-item w3-button">Entertainment</a>
  <a href="/dashboard/business/1" class="w3-bar-item w3-button">Business</a>
  <a href="/dashboard/technology/1" class="w3-bar-item w3-button">Technology</a>
  <a href="/dashboard/science/1" class="w3-bar-item w3-button">Science</a>
  <a href="/dashboard/health/1" class="w3-bar-item w3-button">Health</a>
</div>

<form class="form-inline my-2 my-lg-0" action="/search/1" id="keysearch" method="POST">
  <div style="display: inline;">
  <input class="form-control mr-sm-2" 
          name="search" 
          id = "search"
          type="search" 
          placeholder="Search" 
          style="width: 522px;"
          aria-label="Search"> 
      <button class="btn btn-outline-danger my-2 my-sm-0" type="Submit">Search</button>
    </div> 
</form>
<!-- <input  name="id" value="<%= id %>">  -->
<div class="news-container ">
  <div class="news ">
      <% articles.forEach(function(article,index){ %>
        <% if ((typeof article.url=='object') || (typeof article.title=='object')   ){ %>
          <% } else{ %>
            <a href="<%- article.url %>" target="_blank" class="news-box Hover-effect">
              <!-- <img src="<%- article.urlToImage %>" alt="Image"> -->
              <h4>
                <%- article.title %>
              </h4>
              <!-- <p>
                <%- article.description %>
              </p> -->
              
              <h5>
                <%- article.source.name %>
              </h5>
              
              <br>
              <p style="margin-bottom: 0px; position: absolute; right: 0; bottom: 0; font-family: ui-monospace;">Updated: <span style="color:red;" ><%- new Date(article.publishedAt.slice(0,10)).toDateString() %>    <%- moment.utc(article.publishedAt).local().format('hh : mm A') %> </span></p>
            </a>
          <% } %>
        <% }) %>
      </div>
  </div>

  <!-- <div class="pagination">
    <nav aria-label="...">
  <% if (pages > 0) { %>
    <ul class="pagination">
        <% if (current === 1) { %>
            <li class="page-item disabled"><a>First</a></li>
        <% } else { %>
            <li><a href="/dashboard/home/1">First</a></li>
        <% } %>
        <% var i = (Number(current) > 5 ? Number(current) - 4 : 1) %>
        <% if (i !== 1) { %>
            <li class="page-item disabled"><a>...</a></li>
        <% } %>
        <% for (; i <= (Number(current) + 4) && i <= pages; i++) { %>
            <% if (i === current) { %>
                <li class="page-item active"><a><%= i %></a></li>
            <% } else { %>
                <li><a href="/dashboard/home/<%= i %>"><%= i %></a></li>
            <% } %>
            <% if (i === Number(current) + 4 && i < pages) { %>
                <li class="page-item disabled"><a>...</a></li>
            <% } %>
        <% } %>
        <% if (current === pages) { %>
            <li class="page-item disabled"><a>Last</a></li>
        <% } else { %>
            <li><a href="/dashboard/home/<%= pages %>">Last</a></li>
        <% } %>
    </ul>
<% } %>
</div> -->

<div class="pagination">
  <% if (pages > 0) { %>
        <% if (current === 1) { %>
            <a>First</a>
        <% } else { %>
            <a href="/search/1">First</a>
        <% } %>
        <% var i = (Number(current) > 5 ? Number(current) - 4 : 1) %>
        <% if (i !== 1) { %>
            <a>...</a>
        <% } %>
        <% for (; i <= (Number(current) + 4) && i <= pages; i++) { %>
            <% if (i === current) { %>
                <a><%= i %></a>
            <% } else { %>
                <a href="/search/<%= i %>"><%= i %></a>
            <% } %>
            <% if (i === Number(current) + 4 && i < pages) { %>
                <a>...</a>
            <% } %>
        <% } %>
        <% if (current === pages) { %>
            <a>Last</a>
        <% } else { %>
            <a href="/search/<%= pages %>">Last</a>
        <% } %>
    
  <% } %>
  </div>

  <!-- <div class="pagination">
    <nav aria-label="...">
      <ul class="pagination">
        <li class="page-item disabled">
          <span class="page-link">Previous</span>
        </li>
        <li class="page-item active">
          <span class="page-link">
            1
            <span class="sr-only">(current)</span>
          </span>
        </li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item">
          <a class="page-link" href="#">Next</a>
        </li>
      </ul>
    </nav>
    </div> -->

     <!--Display the links to the pages-->
     


<script src="moment.js"></script>
<script src="moment-timezone-with-data.js"></script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

<script> 
  $("#keysearch").submit(function(event){
   loadAjax();
   event.preventDefault()
})
</script>