<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    

    <form method="POST" action="/settings/" id="update_user" >
        <div class="form-group">
            <label for="name" class="text-light">Name</label>
            <input type="hidden" name="id" value="<%= Users._id %>">
        </div>

        <input class="form-check-input" id="check-2" name="sport" value="sport" type="checkbox" <%= user.sport == 'sport' ? 'checked' : '' %>>sport
        <br>
        <input class="form-check-input" id="check-2" name="general" value="sport" type="checkbox" <%= user.general == 'general' ? 'checked' : '' %>>general
        <br>
        <input class="form-check-input" id="check-2" name="business" value="business" type="checkbox" <%= user.business == 'business' ? 'checked' : '' %>>business
        <br>
        <input class="form-check-input" id="check-2" name="entertainment" value="entertainment" type="checkbox" <%= user.entertainment == 'entertainment' ? 'checked' : '' %>>entertainment
        <br>
        <input type="submit" value="Save">
    </form>


    

  </body>
</html>
  